html
{
    background-color: rgb(44, 47, 51);
    color: white;
    font-family: Arial;
}

.tab-container
{
    margin-top: 25px;
    width: 80%;
}

.tab-container-tabs
{
    display: flex;
}

.tab
{
    flex-grow: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 22px;
    width: 50%;
    color: white;

    background-color: rgb(44, 47, 51);
    transition: background-color 0.75s;
}

.tab:focus
{
    outline-style: none;
}

.tab:hover
{
    background-color: rgb(153, 170, 181);
}

.tabcontent
{
    display: none;
    padding: 50px;
    text-align: center;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}

.align-left
{
    text-align: left;
}

.align-center
{
    text-align: center;
}

.align-right
{
    text-align: right;
}

.align-justified
{
    text-align: justify;
}

.full-block
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
}

.cell
{
    display: table-cell;
}

.profile
{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.bigtext
{
    font-size: 18pt;
}

.mediumtext
{
    font-size: 16pt;
}

.bio
{
    width: 70%;
}

a, a:active
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}